{% extends "base.html" %}
{% load static %}

{% block body %}
{% include 'navbar.html' %}

<div class="uk-container uk-container-center">
    <div class="uk-width-1-1 uk-margin-large-top uk-margin-large-bottom">
        {% if profiles %}
            <div class="uk-margin-large-bottom">
                <div>
                    Assign to customer
                </div>
                <div class="uk-form-controls uk-margin">
                    <select id="assignCustomer" class="uk-select" aria-label="Select" onchange="reassignCustomer({{order.pk}})">
                        <option value="me">Me</option>
                        {% for profile in profiles %}
                            <option value='{{profile.pk}}'>{{profile.user.first_name}} ({{profile.user.email}})</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
        {% if items %}
            <table class="uk-table uk-table-responsive uk-table-divider">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{item.product.name}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.product.price}}</td>
                            <td>
                                <a href="#" class="uk-icon-link" uk-icon="trash" onclick="removeFromCart({{item.pk}})"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>{{order.amount}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Process payment</button>
            </div>
        {% else %}
            <div class="uk-margin uk-container-center uk-text-center">
                <div style="font-size: 20pt;"><b>Your cart is empty!</b></div>
                <p style="font-size: 15pt;">Let's <a href="/store">add some items</a></p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock body %}

{% block footer %}
    <script type="text/javascript" src="{% static 'ilara/checkout/js/remove-from-cart.js' %}"></script>
    {% if profiles %}
        <script type="text/javascript" src="{% static 'ilara/checkout/js/assign-to-user.js' %}"></script>
    {% endif %}
{% endblock footer%}
